<div class="recipe-card">
    <div id="recipe-card__cover" #recipeCardCover class="recipe-card__cover" (click)="showRecipeInfo()">
        <div class="recipe-card__img">
            <img [src]="recipe.image" [alt]="recipe.title">
        </div>
        <div class="recipe-card__cover-details">
            <div id="recipe-card__duration" #recipeCardDuration class="recipe-card__duration">
                <p><span>{{recipe.readyInMinutes}}</span>mins</p>
            </div>
            <div id="recipe-card__servings" #recipeCardServings class="recipe-card__servings">
                <p><span>{{recipe.servings}}</span>servings</p>
            </div>
            <div id="recipe-card__info" #recipeCardInfo class="recipe-card__info">
                <div class="recipe-card__title">
                    <h1>{{recipe.title}}</h1>
                </div>
                <div class="recipe-card__description" #recipeCardDescription>
                    <p>{{parseHTML(recipe.summary)}}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="recipe-card__content-container" #recipeCardContentContainer class="recipe-card__content-container">
        <div class="recipe-card__actions">
            <ul>
                <li><button type="button" id="ingredientsTab" #ingredientsTab href="#" class="active"
                        (click)="showIngridients()">Ingredients</button></li>
                <li><button type="button" id="preparationsTab" #preparationsTab
                        (click)="showPreparations()">Preparation</button></li>
            </ul>
        </div>
        <div id="recipe-card__content--ingredients" #ingredientsContent
            class="recipe-card__content recipe-card__content--active">
            <ul>
                <span>MAIN:</span>
                <li *ngFor="let ingridient of recipe.extendedIngredients">{{ingridient.name}}</li>
            </ul>
        </div>

        <div id="recipe-card__content--preparations" #preparationsContent class="recipe-card__content">
            <ul class="preparation-steps" *ngFor="let inctr of recipe.analyzedInstructions">
                <li *ngFor="let step of inctr.steps">{{step.step}}</li>
            </ul>
        </div>
    </div>
</div>